:root{
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);  
}
body{
    height: 100vh;
    margin: unset;
    padding: unset;
    overflow: hidden;
}
body main{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    transform: translate(-50%,-50%);
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.297);
}
input[type="radio"]:checked + .answer {
    height: max-content;
}
#bg{
    background-image: url('assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30%;
    border: none;
}
.plus-minus{
    background-image: url('assets/images/icon-minus.svg');
}
.plus-minus {
    background-image: url('assets/images/icon-plus.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}
.minus{
    background-image: url("assets/images/icon-minus.svg");
}

label{
    cursor: pointer;
}
main section{
    border-bottom:1px solid rgba(128, 128, 128, 0.222) ;
    padding: 10px;
}
main section:last-child{
    border-bottom: none;
}
.answer{
    margin: 5px 0px;
    color: var(--grayish-purple);
    overflow: hidden;
    height: 0px;  
}@media screen and (min-width: 1080px){
    body main{
        width: 30%;
    }
    #bg{
        height: 50%;
        background-image: url("assets/images/background-pattern-desktop.svg");
    }
}